<div class="splas-screen">
    <div class="spinner-border">

    </div>
    <div class="splash-screen-caption">
        @Caption
    </div>
    <div class="splash-screen-text">
        @Text
    </div>
</div>

@code {
    [Parameter] public string Caption { get; set; }
    [Parameter] public string Text { get; set; }
}
