.caption {
    padding-top: 4px !important;
    font-weight: bold;
    font-size: small;
}

.number input {
    text-align: right;
    padding-right: 28px !important;
}

.currency input {
    text-align: right;
    padding-right: 3px !important;
}

.text-center input {
    text-align: center;
}
